html, body, #map {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#map {
  width: 100%;
  height: calc(100% - 50px); /* leave space for header */
}

header {
  padding: 0.5em 1em;
  background: #f8f8f8;
  border-bottom: 1px solid #ccc;
}

header label {
  user-select: none;
}

#time-slider {
  width: 200px;
  vertical-align: middle;
}

#selected-time {
  display: block;
  margin-top: 0.25em;
}

#any-time {
  display: block;
  margin-top: 0.25em;
  color: #999;
  font-style: italic;
}